In [1]:
import pandas as pd

In [2]:
file = 'data/kden/flights/2018/On_Time_Marketing_Carrier_On_Time_Performance_Beginning_January_2018_2018_1/On_Time_Marketing_Carrier_On_Time_Performance_(Beginning_January_2018)_2018_1.csv'

In [3]:
cols = ['FlightDate',
       'Marketing_Airline_Network',
       'Flight_Number_Marketing_Airline',
       'Tail_Number',
       'Origin',
       'Dest',
       'CRSDepTime',
       'DepTime',
       'DepDelay',
       'TaxiOut',
       'WheelsOff',
       'WheelsOn',
       'TaxiIn',
       'CRSArrTime',
       'ArrTime',
       'ArrDelay',
        'Cancelled',
        'CancellationCode',
        'Diverted',
        'CarrierDelay',
        'WeatherDelay',
        'NASDelay',
        'SecurityDelay',
        'LateAircraftDelay'
       ]

In [30]:
dtypes = {'Marketing_Airline_Network': object,
       'Flight_Number_Marketing_Airline': int,
       'Tail_Number': object,
       'Origin': object,
       'Dest': object,
       'CRSDepTime': int,
       'DepTime': int,
       'DepDelay': float,
       'TaxiOut': int,
       'WheelsOff': int,
       'WheelsOn': int,
       'TaxiIn': int,
       'CRSArrTime': int,
       'ArrTime': int,
       'ArrDelay': float,
        'Cancelled': int,
        'CancellationCode': object,
        'Diverted': int,
        'CarrierDelay': float,
        'WeatherDelay': float,
        'NASDelay': float,
        'SecurityDelay': float,
        'LateAircraftDelay': float}

In [4]:
flights = pd.read_csv(file,parse_dates=['FlightDate'], usecols=lambda c: c in cols, encoding_errors='ignore', index_col=None, header=0, low_memory=False)#, dtype=dtypes)

In [5]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 457688 entries, 0 to 457687
Data columns (total 24 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   FlightDate                       457688 non-null  datetime64[ns]
 1   Marketing_Airline_Network        457688 non-null  object
 2   Flight_Number_Marketing_Airline  457688 non-null  int64
 3   Tail_Number                      455526 non-null  object
 4   Origin                           457688 non-null  object
 5   Dest                             457688 non-null  object
 6   CRSDepTime                       457688 non-null  int64
 7   DepTime                          445251 non-null  float64
 8   DepDelay                         444763 non-null  float64
 9   TaxiOut                          444227 non-null  float64
 10  WheelsOff                        444236 non-null  float64
 11  WheelsOn                         443815 non-null  float64
 12  TaxiIn                           443806 non-null  float64
 13  CRSArrTime                       457688 non-null  int64
 14  ArrTime                          444667 non-null  float64
 15  ArrDelay                         443721 non-null  float64
 16  Cancelled                        457688 non-null  float64
 17  CancellationCode                 12690 non-null   object
 18  Diverted                         457688 non-null  float64
 19  CarrierDelay                     77718 non-null   float64
 20  WeatherDelay                     77715 non-null   float64
 21  NASDelay                         77715 non-null   float64
 22  SecurityDelay                    77715 non-null   float64
 23  LateAircraftDelay                77715 non-null   float64
dtypes: datetime64[ns](1), float64(15), int64(3), object(5)
memory usage: 83.8+ MB

In [24]:
flights.head()

,FlightDate,Marketing_Airline_Network,Flight_Number_Marketing_Airline,Tail_Number,Origin,Dest,CRSDepTime,DepTime,DepDelay,TaxiOut,...,ArrTime,ArrDelay,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2018-01-23,DL,3298,N8928A,ABY,ATL,1202,1157.0,-5.0,14.0,...,1256.0,-8.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
1,2018-01-24,DL,3298,N800AY,ABY,ATL,1202,1157.0,-5.0,13.0,...,1258.0,-6.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
2,2018-01-25,DL,3298,N8836A,ABY,ATL,1202,1153.0,-9.0,18.0,...,1302.0,-2.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
3,2018-01-26,DL,3298,N800AY,ABY,ATL,1202,1150.0,-12.0,17.0,...,1253.0,-11.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
4,2018-01-27,DL,3298,N8839E,ABY,ATL,1400,1355.0,-5.0,17.0,...,1459.0,-1.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN

In [26]:
flights.to_csv('outputs/flights-2018-test.csv')